<section class="content">
  <h1>PURPOSE OF THIS PATIENT INFORMATION NOTICE</h1>
  <p>This Patient Information Notice (PIN) is intended to ask you for your consent to allow healthcare professionals in
    Ireland to access your Patient Summary through MyHealth&#64;EU</p>
  <p>MyHealth&#64;EU enables safe and easy access to your health data for healthcare professionals involved in your
    treatment and
    the provision of medicines - anytime and anywhere within the EU /EEA. This is done by electronic means through
    secure
    gateways provided by National Contact Points for eHealth (NCPeH) designated by each country. Pages 2 and 3 of this
    notice inform you about the processing of your personal data and your rights. This PIN aims to inform patients
    regarding
    the exchange of their data in cross-border settings and the data protection practices that are in place.</p>
  <p>When seeking treatment in a healthcare provider organisation in Ireland, patient personal data will be handled in
    accordance with the infrastructure and laws of Ireland. Please note that consent is only used as a lawful basis for
    limited purposes i.e. Use of the MyHealth&#64;EU service where patient summary data is shared with healthcare
    professionals with your consent. For more information on the lawful basis relied upon by the HSE for processing
    personal
    information please visit <a
      href="https://www.hse.ie/eng/gdpr/hse-data-protection-policy/hse-privacynotice-service-users.pdf" target="_blank"
      rel="noopener noreferrer"><span>hse-privacy notice-service-users.pdf<i
          class="material-icons">open_in_new</i></span></a></p>
  <p>This information is intended for patients whose country of residence is within the EU / EAA.</p>
  <h2>CONSENT FORM</h2>
  <p>By signing this form, you are confirming that you consent to the processing of your personal data for the following
    purposes:</p>
  <ul>
    <li>For the healthcare professional to consult the National Contact Point Ireland (NCP) in order to access your
      health
      data
      in your country of residence</li>
    <li>For the NCP to process your personal information to confirm that your Patient Summary is available through the
      eHealth
      Digital Services Infrastructure</li>
    liFor the NCP to deliver your available health data to the consulting healthcare professional in Ireland
  </ul>
  <mat-card class="card">
    <img mat-card-image class="img-responsive" src="../../assets/images/pin.png" alt="PIN table">
  </mat-card>
  <h2>WHO CAN USE THIS SERVICE?</h2>
  <p>MyHealth&#64;EU enables safe and easy access to medical data for healthcare professionals involved in treatment.
  </p>
  <p>This infrastructure provides healthcare professionals access to medical data for residents of the EU / EEA by
    electronic
    means through a secure gateway provided by a National Contact Point for eHealth (NCPeH) designated by each country.
  </p>
  <p>The HSE is the designated NCPeH in Ireland and assumes responsibility as a data controller for the collection,
    storage,
    transfer and other processing activities of the data in its medical registry.</p>
  <p>This also means that your personal data is recorded, transferred and stored in accordance with the laws of Ireland.
  </p>
  <h2>WHAT DATA ABOUT YOU IS PROCESSED?</h2>
  <p>A Patient Summary contains the most important information about your health is collected from the country where it
    is
    stored, such as your home country, in order to use it for your treatment in another country. The patient summary
    includes information on important patient data such as allergies, current medication, previous illnesses and
    surgeries
    that are necessary to treat you properly abroad.</p>
  <h2>WHAT IS THE LEGAL BASIS FOR THE USE OF YOUR PERSONAL DATA?</h2>
  <p>Your personal data is transferred, processed and stored in accordance with the provisions of the GDPR, Directive
    2011/24/EU on the application of patients’ rights in cross-border healthcare, the agreement between the EU Member
    States
    and the Agreement between National Authorities or National Organisations responsible for National Contact Points for
    eHealth The HSE relies on Article 9(2)(h) to process special category data in its provision of healthcare services,
    i.e.
    for the purposes of preventative or occupational medicine, for the assessment of the working capacity of an
    employee,
    for medical diagnosis, for the provision of medical care, treatment or social care, for the management of health or
    social care systems and services. Finally, in accordance with Articles 6, 7 and 9 of the GDPR, MyHealth&#64;U s will
    be
    available only with your explicit prior consent. If you did not give your explicit consent before travelling and/or
    before care is actually to be provided to you in Ireland, your data will not be available via MyHealth&#64;EU to the
    healthcare provider, not even in an emergency.</p>
  <h2>FOR WHAT PURPOSE IS YOUR DATA PROCESSED?</h2>
  <p>Your health data will only be used for the provision of your health care. No secondary use or processing of your
    patient
    summary data is intended.</p>
  <h2>WHO PROCESSES AND HAS ACCESS TO THIS DATA?</h2>
  <p>Your Patient Summary data will be accessible only by authorized and identifiable health professionals in Ireland
    involved
    in your treatment and are bound by the obligation of professional secrecy. The HSE as the National Contact Point for
    eHealth, has access only to the administrative data related to your identity, which must be verified by the health
    professional in Ireland as part of the request for the Patient Summary.</p>
  <p>Each country of treatment participating in MyHealth&#64;EU has undertaken to ensure that the participating health
    professionals and healthcare providers on their territory have adequate information and training about their duties,
    and
    in particular to fulfil the patient information obligation under Article 13 GDPR</p>
  <p>The Patient Summary data will be transferred using a secure technical gateway provided by MyHealth&#64;EU.</p>
  <h2>WHERE AND HOW LONG IS THE PERSONAL DATA STORED?</h2>
  <p>As a general rule data must be retained for no longer than is necessary for the purpose for which it was collected
    in
    the first place. The NCP only stores the consent forms which will be stored for 5 years. Both the healthcare
    provider
    and the NCP can delete all, or parts, of your personal data upon your request. See point 7 for more details about
    your
    privacy rights and how to invoke them.</p>
  <h2>YOUR ACCESS RIGHTS</h2>
  <p>If you consent for your Patient Summary data to be processed by MyHealth&#64;EU, you can obtain a copy of it by
    sending a
    request to The HSE or the healthcare provider in the country of treatment.</p>
  <p>You have the right to:</p>
  <ol type="a">
    <li>Rectify any inaccurate or incomplete data in your Patient Summary, according to GDPR Article 16</li>
    <li>Data Requests - HSE.ie</li>
    <li>Obtain the erasure of your Patient Summary data without undue delay, according to GDPR Article 17 GDPR
      Information
      -
      HSE.ie</li>
    <li>Object to the processing of your Patient Summary data on grounds relating to your particular situation,
      according
      to
      GDPR Article 21 Data Requests - HSE.ie</li>
    <li>Withdraw your consent at any time by contacting Data Requests - HSE.ie</li>
  </ol>
  <p>Note that the Irish data controller may not have access to all your data for example those held in private
    practices
    and
    as such you would need to contact them directly regarding your data.</p>
  <p>If you do not consent for your personal data to be processed by the eHDSI system, your data will not be available
    for
    you through this system when you are in another country, not even in case of an emergency.</p>
  <p></p>
  <p></p>
  <p>Finally, you have the right to lodge a complaint with a supervisory authority in Ireland or in your home country of
    treatment. Contact details of the supervisory authorities in each Member State can be found at the <a
      href="https://edpb.europa.eu/about-edpb/board/members_en" target="_blank" rel="noopener noreferrer"><span>European
        Data Protection Board<i class="material-icons">open_in_new</i></span></a></p>
  <div class="address-cards">
    <mat-card class="card">
      <div class="cardLayout">
        <mat-card-title>
          <span>NCP in Ireland:</span>
        </mat-card-title>
        <mat-card-content class="details">
          <ul>
            <li>NCP/MyHealth.eu</li>
            <li>Dr. Steeven's Hospital</li>
            <li>Steeven's Lane</li>
            <li>Saint James</li>
            <li>Dublin 8</li>
            <li>Email: <a href="mailto:MyHealth@EU">MyHealth&#64;EU</a></li>
          </ul>
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="cardLayout">
        <mat-card-title>
          <span>HSE Data Controller & Protection Officer:</span>
        </mat-card-title>
        <mat-card-content class="details">
          <ul>
            <li>Dr. Steevens' Hospital</li>
            <li>Steeven's Lane</li>
            <li>Saint James</li>
            <li>Dublin 8</li>
            <li>Email: <a href="mailto:dpo@hse.ie">dpo&#64;hse.ie</a></li>
          </ul>
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="cardLayout">
        <mat-card-title>
          <span>Supervisory authority in Ireland:</span>
        </mat-card-title>
        <mat-card-content class="details">
          <ul>
            <li>Data Protection Commission</li>
            <li>21 Fitzwilliam Square</li>
            <li>Dublin 2</li>
            <li>D02 RD28</li>
            <li>Email: <a href="mailto:info@dataprotection.ie">info&#64;dataprotection.ie</a></li>
            <li>Website: <a href="http://www.dataprotection.ie/" target="_blank"
                rel="noopener noreferrer">http://www.dataprotection.ie/</a></li>
          </ul>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</section>
