.content {
  padding: 2rem;
}

.title-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin-bottom: 2em;
}

.title_item {
  align-self: center;
  margin: 0;
}

.title-image {
  align-self: center;
  max-width: 150px;
  height: auto;
  margin-bottom: 0.5em;
}

.paragraph-img,
.footer-img {
  display: block;
  width: 270px;
  height: 200px;
  margin-left: 0px;
  padding: 0px;
}

i {
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.fa-linkedin {
  color: #0077b5;
}

a {
  text-decoration: none;
  color: black;
}

.social-media-lists {
  list-style: none;
}

.space-above {
  margin-top: 2em;
}
