<section class="content">
  <section>
    <mat-card-title-group class="title-card">
      <span>
        <img mat-card-avatar src="/assets/images/xshare.png" alt="xShare Yellow Button">

        <h1>The xShare Yellow Button</h1>
      </span>
    </mat-card-title-group>

  </section>
  <section>
    <p>The xShare Yellow Button is a new service currently in development. The service will facilitate the sharing of
      health
      data that is in the European Electronic Health Records Exchange Format (EHRxF). Services such as health portals
      and
      patient apps that support the xShare Yellow Button will allow as well as empower patients to share their
      information
      with another service under GDPR.</p>
    <p>The xShare Yellow Button supports its end users by allowing them to share health data in a harmonized, structured
      and
      coded format that will be understood by healthcare services across Europe.</p>

  </section>
  <section>
    <h2>Partners</h2>
    <p>
    <p>The xShare consortium, co-led by MedCom (DK) and HL7 Europe (BE), comprises standards-developing organizations,
      industry
      associations, national and regional ministries of health, government agencies, and SMEs as early xShare adopters
      in
      eight European Member States.</p>
    <mat-card>
      <img mat-card-image src="/assets/images/Xshare-map.png" alt="EU Map of XShare Partner Locations">
    </mat-card>

  </section>
  <section class="space-above">
    <h2>Social media links</h2>
    <p>Additional information can be found at</p>
    <ul class="social-media-lists">
      <li><a href="https://xshare-project.eu/" target="_blank"
            rel="noopener noreferrer"><span><i class="fa-brands fa-linkedin"></i>  xShare (xShare-project.eu) | LinkedIn</span></a></li>

    </ul>

  </section>
  <section class="space-above">
    <mat-card>
      <img mat-card-image src="/assets/images/cofunded.png" alt="EU Funding Logo">
    </mat-card>

  </section>
</section>
