<section class="content">

  <section>
    <h1>eT EHR</h1>
    <p>
      The Electronic Health Record (EHR) programme within eHealth Ireland has been engaged with EHR vendors from across
      the
      globe since the first part of 2015. The purpose of this engagement has been to enable Ireland to build a case for
      change; a document that describes what an EHR deployed in Ireland would bring to the delivery of care, what the
      value
      would be of such a system and an approach that Ireland could take to adopting such a system.
    </p>
    <p>The Electronic Health Record system will transform the delivery of health and social care by creating shared
      patient
      records that are the primary information source for all health and social care professionals and will result in:
    </p>
    <ul class="indented-list">
      <li>better, safer clinical decision-making,</li>
      <li>more informed and engaged patients and citizens,</li>
      <li>integration of services across care settings,</li>
      <li>increased availability of information to enable proactive management of patients and conditions,</li>
      <li>improved patient outcomes.</li>
    </ul>
  </section>

  <section class="space-above">
    <p>See eHealth Ireland for more information about the EHT system <a
        href="https://www.ehealthireland.ie/ehealth-functions/ehealth-standards-and-shared-care-records/shared-care-record/electronic-health-record-ehr/"
        target="_blank" rel="noopener noreferrer"><span>EHR - Electronic Health Record<i
            class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
    </p>
    <p>For more information about the Electronic Health Record, see <a
        href="https://digital-strategy.ec.europa.eu/en/policies/electronic-health-records" target="_blank"
        rel="noopener noreferrer"><span>EHR - Electronic Health Record<i
            class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
    </p>
  </section>
  <section class="space-above">
    <h2>Social Media</h2>
    <ul class="social-media-list">
      <li><a href="https://twitter.com/ehealth_eu?lang=en" target="_blank" rel="noopener noreferrer"><span><i
              class="fa-brands fa-square-x-twitter"></i> Follow the Commission's work on eHealth &#64;eHealth_EU |
            X</span></a></li>

    </ul>
  </section>
  <section class="space-above">
    <div class="declaration-container">

      <div class="declaration-images">
        <img src="assets/images/European_Commission.png" alt="European Commission ogo">
      </div>


    </div>
  </section>

</section>
