.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.indented-list {
  list-style-position: inside;
}

.social-media-list {
  list-style: none;
}

.space-above {
  margin-top: 2em;
}

i {
  font-size: 1em;
  margin-left: 0.5em;
}


a {
  text-decoration: none;
  color: black;
}

mat-card {
  background-color: inherit;
  border: none;
  box-shadow: none;
  min-width: max-content
}

img {
  display: block;
  width: 25%;
  height: auto;
  margin-left: 0px;
  justify-content: flex-start;
}
