<section class="content">
  <section>
    <h1>Potential For European Digital Identity</h1>
    <p>Potential is a European Digital identity Initiative which focuses on;
</p>
<ul class="indented-list">
  <li><span>Digital Transformation </span>- increasing digitalization of our world and how our daily lives are becoming more
  interconnected.</li>
  <li><span>Online Access </span>- democratization of online access and usage.</li>
  <li><span>Digital Identity </span>- Emphasizes the importance of having a secure, authentic, and verifiable digital identity.</li>
  <li><span>eIDAS 2 Regulation </span>- The European Commission's eIDAS 2 regulation aims to fully realize the vision of a cross-border
  European Digital Identity Wallet, ensuring user-centricity and full protection of personal data.</li>

</ul>
</section>

<section class="space-above">
  To learn more about Potential, please refer to the European Digital Identity Wallet at Potential -
  <a href="https://www.digital-identity-wallet.eu/" target="_blank"
    rel="noopener"><span>For European Digital Identity (digital-identity-wallet.eu) <i
        class="fa-solid fa-arrow-up-right-from-square"></i></span></a>


</section>
<section class="space-above">
  <p class="declaration-txt">This is a project Co-funded by the European Union.
  </p>
</section>
<section class="space-above">
  <mat-card>
    <img mat-card-sm-image src="assets/images/cofunded.png" alt="Logo showing co-funded by the European Union">
  </mat-card>
</section>

</section>
