<section class="content">
  <section>
    <div class="title-container">
      <img class="title-image" src="assets/images/IPS-small.png" alt="Logo of the UNICOM project">
      <h1 class="title_item">International Patient Summary:</h1>
    </div>
  </section>
  <section>
    <p>
      "CEN/TC 251 took the initiative to develop the International Patient Summary (IPS) standard, based on the European
      Guideline for the cross-border exchange of patient summary data. This resulted in the formal publication of EN
      17269 in
      November 2019. From the beginning, it has been our intention to develop the IPS as a global standard, which is why
      we
      submitted our work on the IPS to ISO as well. This led to the publication of ISO 27269 IPS standard in April
      2021."
    </p>
    <p>This has been referenced from the information on the International Patient Summary.</p>
  </section>
  <section>
    <p>
      For more information about this
      standard, please see the <a
        href="https://www.ehealth-standards.eu/2022/03/04/replacing-en-17269-with-iso-27269-the-international-patient-summary/"
        target="_blank" rel="noopener"><span>eHealth Standards on IPS here. <i
            class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
    </p>
  </section>

</section>