<section class="content">
  <section>
    <div class="title-container">
      <img class="title-image" src="assets/images/IHE_INTERNATIONAL.png" alt="Logo for IHE International">
      <h1 class="title_item">IHE International:</h1>
    </div>
  </section>
  <section>
    <p>The IHE - Integrating the Healthcare Enterprise, provides resources for users, developers and implementers of
      healthcare
      imaging and information systems. Various publications on the frameworks are maintained by the IHE Technical
      Committees.</p>
  </section>
  <section class="space-above">
    <p>
      There are several different technical domains within the IHE. For more information please visit the IHE
      International
      website at <a href="https://profiles.ihe.net/index.html" target="_blank" rel="noopener"><span>IHE International <i
            class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
    </p>

  </section>