<section class="content">
  <section>
    <h1>PATHeD</h1>
    <p>The project aims to provide Irish Citizens with access to their healthcare data via a mobile application called
      eHealthPass.</p>
    <P>The eHealthPass App aims to enable seamless cross-border care and securely exchange patient information in the
      form
      of
      Patient Summaries (a snapshot of the patient's healthcare data) between the Irish healthcare infrastructure and
      the
      eHealthPass mobile application following the Cross-Border Directive 2011/24/EU The exchange of data will be via
      the
      MyHealth&#64;EU services. In doing so, it will enhance the healthcare encounter and reduce the frequency of
      medical
      errors
      by providing quick access to patient health information while abroad.</P>
    <p>For further information on eHealthPass, please see <a href="https://ehealthpass.eu/" target="_blank"
        rel="noopener noreferrer"><span>the PATHeD EU HealthPass<i
            class="fa-solid fa-arrow-up-right-from-square"></i></span></a></p>
  </section>
  <section class="space-above">
    <mat-card>
      <img mat-card-image src="/assets/images/European_Commission.png" alt="European Commission Logo">
    </mat-card>
  </section>
</section>
