.content {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  height: auto;
  width: 20em;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 1em;
  justify-content: center;
  padding: 1rem;
}

@media screen and (max-width: 768px){
  .features {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }

}

@media screen and (max-width: 480px){
  .features {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }

}

@media screen and (max-width: 320px){
  .features {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }

}

.features > a {
  position: relative;
  height: auto;
  width: 20.5em;
  background-color: rgb(201, 202, 211);
  padding: 0.5em 0.5em;
  margin: 1em;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: transform 0.3s;
}

.feature-image {
  object-fit: scale-down;
  width: 270px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}


.feature-box:hover {
  transform: translateY(-0.5em) scale(1.01);
}

.feature-info {
  text-overflow: ellipsis;
  align-self: center;
  min-height: 120px;
}

.feature-title {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
}

.feature-intro {
  font-size: 0.8em;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.feature-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  min-height: 20px;
}

.feature-redirect {
  display: flex;
  position: absolute;
  bottom: 0;
}

.feature-button {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.feature-button p {
  font-size: 1.2em;
}

i {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.space-above {
  margin-top: 2em;
}
