<section class="content">
  <section>
    <h1>Partnerships & Consortiums:</h1>
    <p>The projects below are being run in partnership with other European organisations. 
      Please click on the individual project links below for more information.</p>
  </section>
  <section>
    <div class="features">

      <a routerLink="/xshare">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/xShare-logo.PNG" alt="xShare hero image">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">xShare</h3>
            <p class="feature-intro">Electronic Health Record Xchange Format</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/etehr">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/Xt-EHR logo - Transparent.webp"
              alt="xT EHR logo representing the development of a interoperable dataset">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">xT EHR</h3>
            <p class="feature-intro">Enhancing the use of the Electronic Health Record</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/pathed">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/logo-pathed.png" alt="PATHeD logo">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">PATHeD</h3>
            <p class="feature-intro">Project to provide Irish Citizens with access to healthcare data via a mobile application.</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>


    </div>
    <div class="features">

      <a routerLink="/etehr">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/UNICOM-small.png"
              alt="UNICOM logo for medicine and its contents identification project">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">UNICOM</h3>
            <p class="feature-intro">Identification of Medicinal Products</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/pathed">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/IPS-small.png" alt="IPS The International Patient Summary logo">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">IPS</h3>
            <p class="feature-intro">The International Patient Summary</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/xshare">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/IHE_INTERNATIONAL.png" alt="IHE International hero image">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">IHE International</h3>
            <p class="feature-intro">Integrating the healthcare Enterprise</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>


  </section>
  <section class="space-above">
    <p class="declaration-txt">These projects are co-funded by the European Union. Please click on the individual project links above for more
      information.</p>
      <div>
        <img src="assets/images/cofunded.png" alt="Logo showing co-funded by the European Union">
      </div>
    </section>
  </section>
