<section class="content">
  <section>
    <h1>Partnerships & Consortiums:</h1>
    <p>The projects below are being run in partnership with other European organisations
      Please click on the individual project links below for more information.</p>
  </section>
  <section>
    <div class="features">

      <div class="feature-box">
        <div class="feature-hero">
          <a routerLink="/etehr">
            <img class="feature-image" src="/assets/images/eT_EHR.jpg"
              alt="eT EHR People using technology in healthcare">
          </a>
        </div>
        <div class="feature-info">
          <h3 class="feature-title">eT EHR</h3>
          <p></p>
        </div>
        <div class="feature-btn-container">
          <div class="feature-redirect">
            <div class="feature-button">
              <a routerLink="/etehr">Read More <span>
                  <i class="far fa-arrow-alt-circle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-box">
        <div class="feature-hero">
          <a routerLink="/pathed">
            <img class="feature-image" src="/assets/images/logo-pathed.png" alt="PATHeD logo">
          </a>
        </div>
        <div class="feature-info">
          <h3 class="feature-title">PATHeD</h3>
          <p></p>
        </div>
        <div class="feature-btn-container">
          <div class="feature-redirect">
            <div class="feature-button">
              <a routerLink="/pathed">Read More <span>
                  <i class="far fa-arrow-alt-circle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-box">
        <div class="feature-hero">
          <a routerLink="/xshare">
            <img class="feature-image" src="/assets/images/xshare_picture.png"
              alt="xShare Yellow button hero image">
          </a>
        </div>
        <div class="feature-info">
          <h3 class="feature-title">xShare</h3>
          <p></p>
        </div>
        <div class="feature-btn-container">
          <div class="feature-redirect">
            <div class="feature-button">
              <a routerLink="/xshare">Read More <span>
                  <i class="far fa-arrow-alt-circle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section>
    <h2>Co-funded by the European Union</h2>
    <p>These projects are co-funded by the European Union. Please click on the individual project links above for more
      information.</p>
  <section class="space-above">
    <mat-card>
      <img mat-card-image src="/assets/images/cofunded.png" alt="Logo showing co-funded by the European Union">
    </mat-card>
  </section>
</section>
