<section class="content">


<h1>Healthcare Professional Information Notice</h1>
<h2>WHAT IS MyHEALTH&#64;EU?</h2>
<P>MyHealth&#64;EU enables the safe processing of your personal data, related to your role as a healthcare professional
involved in the treatment of patients and the provision of medicines. This is done by electronic means through secure
gateways provided by National Contact Points for eHealth (NCPeH) designated by each country.
</P>
<p>The HSE is the designated NCPeH in Ireland and assumes responsibility as a data controller for the collection, storage,
transfer and other processing activities of the data in its medical registry.</p>
<p>This also means that your personal data is recorded, transferred and stored in accordance with the laws of Ireland.</p>
<h2>WHICH CATEGORIES OF PERSONAL DATA ARE PROCESSED IN THE CONTEXT OF MyHEALTH&#64;EU?</h2>
<p>Patient summary – the most important information about your health is collected from the country where it is stored,
such as your home country, in order to use it for treatment in another country. The patient summary includes relevant
information needed for identifying the health professional who is treating the patient:</p>
<ul>
  <li>Name of the health professional - Name of the Health Professional that has been treating or taking responsibility for
  the patient.</li>
  <li>Role of the health professional - The health professional's role in the organisation (i.e., healthcare provider).</li>
  <li>Health professional's organisation - Name of the health professional's organisation (i.e., healthcare provider).</li>
  <li>Telephone no. - telephone number of the health professional at the organisation (i.e., healthcare provider).</li>
  <li>Email - Email of the health professional or organisation (i.e., healthcare provider).</li>
  <li>Network affiliation - the health professional's organization that is affiliated with a European network, e.g., the
  European Reference Networks (ERN).</li>
  <li>Related with - Identification of the entry or entries of this Patient Summary for which the health professional is the
  preferred contact.</li>
</ul>
<h2>WHAT IS THE LEGAL BASIS FOR THE USE OF YOUR PERSONAL DATA?</h2>
<p>When you receive treatment or medicine abroad, your data will be recorded in the country of treatment according to the
EU General Data Protection Regulation, the national legislation of that country and the internal rules of the particular
healthcare provider.</p>
<p>Emergencies may justify the use of your data for the treatment of the patient without your consent.</p>
<p>As a healthcare professional involved in the treatment of a patient who uses MyHealth&#64;EU, your personal data may be
processed in the Republic of Ireland based on Irish law.</p>
<p>IMPORTANT: When a patient that you have treated uses MyHealth&#64;EU to receive medical treatment abroad, your personal data
will be recorded in the country of treatment of the patient according to the EU General Data Protection Regulation
(GDPR), the laws of that country and the practices of the particular healthcare provider.</p>
<h2>WHAT IS THE PURPOSE OF PROCESSING?</h2>
<p>The primary purpose for processing your data is the medical treatment of your patient or the provision of medicine.</p>
<p>Your personal data may also be used for secondary purposes. In the Republic of Ireland, your personal data may be used
for the following secondary purposes:</p>
<ul>
  <li>Archiving purposes in the public interest</li>
  <li>Scientific or historical research purposes</li>
  <li>Statistical purposes</li>
</ul>
<p>Under the EU General Data Protection Regulation (GDPR), it may be appropriate to anonymise data once it is no longer
necessary so that the individual can no longer be identified, and therefore it will no longer be ‘personal’ data.</p>
<p>For more information about the purposes of such further processing according to the laws of other EU Member States,
please refer to their Health Professional Information Notices.</p>
<h2>WHO PROCESSES AND HAS ACCESS TO THIS DATA? (RECIPIENTS OF PERSONAL DATA)</h2>
<p>Your personal data will be accessible by the National Contact Points for eHealth, i.e., entities that process your data
to ensure its secure transmission to and from the specific healthcare organization or pharmacy, logging, or other
related activities.</p>
<h2>YOUR RIGHTS</h2>
<p>You have the right access to your personal data.</p>

<p>Apart from that, you can exercise the rights of rectification, erasure, restriction of the processing and data
portability.</p>
<p>In order to exercise your rights, you may contact us. Contact details are available in (see Contact Information).</p>
<p>Also, you have the right to lodge a complaint before the supervisory data protection authority.</p>
<p>The list of the national supervisory authorities can be found at the <a href="https://edpb.europa.eu/about-edpb/about-edpb/members_en" target="_blank" rel="noopener noreferrer"><span>European Data Protection Board<i class="material-icons">open_in_new</i></span></a></p>
<div class="address-cards">
  <mat-card class="card">
    <div class="cardLayout">
      <mat-card-title>
        <span>NCP in Ireland:</span>
      </mat-card-title>
      <mat-card-content class="details">
        <ul>
          <li>NCP/MyHealth.eu</li>
          <li>Dr. Steeven's Hospital</li>
          <li>Steeven's Lane</li>
          <li>Saint James</li>
          <li>Dublin 8</li>
          <li>Email: <a href="mailto:MyHealth@EU">MyHealth&#64;EU</a></li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="cardLayout">
      <mat-card-title>
        <span>HSE Data Controller & Protection Officer:</span>
      </mat-card-title>
      <mat-card-content class="details">
        <ul>
          <li>Dr. Steevens' Hospital</li>
          <li>Steeven's Lane</li>
          <li>Saint James</li>
          <li>Dublin 8</li>
          <li>Email: <a href="mailto:dpo@hse.ie">dpo&#64;hse.ie</a></li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="cardLayout">
      <mat-card-title>
        <span>Supervisory authority in Ireland:</span>
      </mat-card-title>
      <mat-card-content class="details">
        <ul>
          <li>Data Protection Commission</li>
          <li>21 Fitzwilliam Square</li>
          <li>Dublin 2</li>
          <li>D02 RD28</li>
          <li>Email: <a href="mailto:info@dataprotection.ie">info&#64;dataprotection.ie</a></li>
          <li>Website: <a href="http://www.dataprotection.ie/" target="_blank"
              rel="noopener noreferrer">http://www.dataprotection.ie/</a></li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
</div>
</section>
