<section class="content">
  <section>
    <div class="title-container">
      <img class="title-image" src="assets/images/UNICOM-small.png" alt="Logo of the UNICOM project">
      <h1 class="title_item">UNICOM project:</h1>
    </div>
  </section>
  <section>
    <p>The UNICOM project is helping to ensure that any medicine and what it contains can be accurately identified
      anywhere in
      the world. We are working to improve patient safety and enable better healthcare for all.</p>
  </section>
  <section>
    <h2>
      Social media links
    </h2>
    <ul class="social-media-lists">
      <li><a href="https://linkedin.com/company/unicom-idmp" target="_blank" rel="noopener noreferrer"><span><i
              class="fa-brands fa-linkedin"></i> UNICOM | LinkedIn</span></a></li>
      <li><a href="https://twitter.com/Unicom_IDMP" target="_blank" rel="noopener noreferrer"><span><i
              class="fa-brands fa-square-x-twitter"></i> eHealth Ireland | X</span></a></li>

    </ul>
  </section>
  <section class="space-above">
    <p class="declaration-txt">
      UNICOM is co-funded by the European Union’s Horizon 2020 research and innovation programme under grant agreement
    </p>
    <p>
      For further information, please see the <a href="https://unicom-project.eu/" target="_blank"
        rel="noopener"><span>UNICOM project <i class="fa-solid fa-arrow-up-right-from-square"></i></span></a> for
      more
      information.
    </p>
  </section>
  <section class="space-above">
    <div class="declaration-container">
      <div class="declaration-images">
        <img src="assets/images/cofunded.png" alt="Logo showing co-funded by the European Union">
      </div>

    </div>
  </section>

</section>
