<section class="content">
  <section>
    <h1>MyHealth&#64;EU</h1>
    <h2>Electronic cross-border health services</h2>
    <p>The eHealth Digital Service Infrastructure (eHDSI) is an infrastructure ensuring the continuity of care for
      European
      citizens while they are travelling abroad in the EU. This gives EU countries the possibility to exchange health
      data in
      a secure, efficient and interoperable way. Citizens can easily recognise the availability of the services under
      the
      brand “MyHealth &#64; EU”.</p>
    <P>Source: <a
        href="https://health.ec.europa.eu/ehealth-digital-health-and-care/electronic-cross-border-health-services_en#related-information"
        target="_blank" rel="noopener"><span>Electronic cross-border health services <i
            class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
    </P>
  </section>
  <h2>Electronic cross-border health services in the EU (Ireland)</h2>
  <ul class="paragraph-list">
    <li>EU citizens value their healthcare. Many of us also travel, work or study in other EU countries. It is
      reassuring to
      know that if you fall ill or experience a health emergency during your stay in another EU country, electronic
      cross-border health services - ePrescriptions and Patient Summaries - will be available in European countries to
      protect
      and assist travelers, under the brand “MyHealth&#64;EU”. These services enable citizens in Europe to benefit from
      healthcare in their country of travel in the same way that they benefit in their country of residence - via a new
      digital communication channel. This secure channel enables eHealth national services to connect and exchange
      patients'
      health data rapidly, safely and efficiently. Your personal data will always be treated and protected under
      existing EU
      legislation and with current practices in both your country of residence and your country of travel. In addition,
      before
      a health professional accesses any of your data, he or she should inform you about your rights. The new electronic
      cross-border health services are being established progressively in 25 EU countries until the end of 2025. For the
      latest updates on the countries which are currently offering these services, please take a look at our Europa
      webpage.</li>
    <li>Ireland is committed to Go Live with all of the services listed below for Patients, Healthcare Professionals and
      Pharmacists, but has yet to do so, the aim is before 2025. A lot of progress is being made to achieve this with
      our
      fellow Member States.</li>
    <li>This space provides information on what ePrescriptions and Patient Summaries services are - and on how we are
      going to
      use, and benefit from them.</li>
  </ul>
  <p>Please see the flyer addressed to patients and health professionals from Ireland, provided by the European
    Commission
    here: <a href="https://op.europa.eu/en/publication-detail/-/publication/3e983ee5-fed7-11ea-b44f-01aa75ed71a1"
      target="_blank" rel="noopener"><span>Electronic cross-border health services <i
          class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
  </p>

  <p>Please see the EU4Health 2021-2027 – a Vision for a Healthier European Union <a
      href="https://op.europa.eu/en/publication-detail/-/publication/3e983ee5-fed7-11ea-b44f-01aa75ed71a1"
      rel="noopener" target="_blank"><span>Here <i class="fa-solid fa-arrow-up-right-from-square"></i></span></a>

  </p>
  <section>
    <h2>Which services are available in which countries?</h2>
    <p>Services are being made available as counties develop their systems and infrastructure. The list of counties and
      services
      is always being updated. Please see the section on services available on the EU website <a
        href="https://health.ec.europa.eu/ehealth-digital-health-and-care/electronic-cross-border-health-services_en#related-information"
        rel="noopener" target="_blank"><span>Here <i class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
    </p>
    <mat-card>
      <img mat-card-image src="assets/images/ehdsi_logo_en_0.png" alt="eHDSI Logo">
    </mat-card>
    <h2>eHealth - Key documents</h2>
    <p>Please refer to this useful resource provided by the EU Digital Service Infrastructure, for searching for key
      documents
      concerning eHealth. This EU document search tool is a dynamic resource and may change.</p>
    <p>Material available on this resource includes:
    </p>
    <ul class="indented-list">
      <li>eHN Guideline on Patient Summary</li>
      <li>eHN Laboratory Result Guidelines</li>
      <li>ePrescription & eIDAS integrated vision</li>
      <li>General Guidelines - Guidelines on the electronic exchange of health data under Cross-Border Directive
        2011/24/EU</li>
      <li>ePrescription and eDispensation of Authorised Medicinal Products - Guidelines on the electronic exchange of
        health data
        under Cross-Border Directive 2011/24/EU</li>
    </ul>
  </section>
  <section class="space-above">
    <p>Further information can be found at <a
        href="https://health.ec.europa.eu/ehealth-digital-health-and-care/key-documents_en?" rel="noopener"
        target="_blank"><span>Key documents - European Commission (europa.eu) <i
            class="fa-solid fa-arrow-up-right-from-square"></i></span></a></p>

  </section>



</section>
