.content {
  padding: 2rem;
}

img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: 0px;
  justify-content: left;
}

.mat-mdc-card {
  background-color: inherit;
  border: none;
  box-shadow: none;
}


i {
  font-size: 1em;
  margin-left: 0.5em;
}

ul {
  list-style-type: disc;
  margin-left: 1em;
}

.indented-list {
  list-style-position: outside;
}

.paragraph-list li {
  list-style-type: disc;
  margin-bottom: 2em;
}

.space-above {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: black;
}
