.content {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: "- ";
}

.indented-list {
  list-style-position: inside;
}

.nested-list {
  margin-left: 2em;
}

.social-media-lists {
  list-style: none;
}

.image-container {
  display: flex;
  margin-top: 1em;
}

.team-image img {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .team-image img {
    width: 100%;
  }

}

@media screen and (max-width: 480px) {
  .team-image img {
    width: 100%;
  }

}

@media screen and (max-width: 320px) {
  .team-image img {
    width: 100%;
  }

}

.team-info {
  display: block;
  font-style: italic;
  font-size: 0.8em;
  font-weight: 500;
  color: #454242;
  margin-top: 0.5em;
}



.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 1em;
  justify-content: center;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .features {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .features {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }
}

@media screen and (max-width: 320px) {
  .features {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }
}

.features > a {
  position: relative;
  height: auto;
  width: 20.5em;
  background-color: rgb(201, 202, 211);
  padding: 0.5em 0.5em;
  margin: 1em;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: transform 0.3s;
}

.feature-image {
  object-fit: scale-down;
  width: 270px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 4px;
}

.features > a:hover {
  transform: translateY(-0.5em) scale(1.01);
}

.feature-info {
  text-overflow: ellipsis;
  align-self: center;
  min-height: 120px;
}

.feature-title {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
}

.feature-intro {
  font-size: 0.8em;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.feature-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  min-height: 20px;
}

.feature-redirect {
  display: flex;
  position: absolute;
  bottom: 0;
}

.feature-button {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.feature-button p {
  font-size: 1.2em;
}

i {
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.fa-linkedin {
  color: #0077b5;
}

.space-above {
  margin-top: 2em;
}

.declaration-txt {
  font-weight: 500;
}

.declaration-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.declaration-images {
  flex-direction: row;
}

.declaration-images > img {
  margin-right: auto;
  margin-left: auto;
  width: 215px;
  height: auto;
  object-fit: cover;
}

.declaration-images > img:first-child {
  margin-right: 11px;
}

.declaration-images > img:last-child {
  margin-left: 11px;
}

@media screen and (max-width: 768px) {
  .declaration-images > img {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .declaration-images > img {
    width: 100px;
  }
}

@media screen and (max-width: 320px) {
  .declaration-images > img {
    width: 80px;
  }
}
