<section class="content">
  <section>
    <h1>MyHealth&#64;EU</h1>
    <h2>About us:</h2>
    <p>MyHealth&#64;EU is a group of experienced IT professionals dedicated to the smooth exchange of bidirectional
      electronic health data
      between Ireland and our EU member state partners.</p>
    <p>
      As an integral part of Ireland's commitment to the EU, the HSE is mandated by the Irish Government, in compliance with
      EU law, to exchange health data with our European Member State partners, to enable digitised interoperability access to
      patient health data, to service the needs and requirements of healthcare professionals and citizens across the European
      Union.
    </p>
    <p>
      We work closely with our colleagues in the Irish National Shared Care Records team to develop solutions to enable
      the
      exchange of quality structured coded data to allow Ireland to integrate with the health systems of member states
      across
      the European Health Data Space. Likewise, we also work closely with our pharmacy colleagues to support the
      development
      of pharmacy-focused digitised solutions to enable the exchange of e-prescription and e-dispensation data between
      Ireland
      and our fellow European counterparts.
    </p>
  </section>
  <section>
    <h2>Our people:</h2>
    <p>
      The Irish MyHealth&#64;EU workforce is composed of a highly motivated group of people who originate from many
      diverse
      business and industry segment backgrounds. Each person in the team is highly skilled, well-educated and
      experienced in
      the IT sector. We are also part of the National Shared Care Records team where we support and collaborate with our
      fellow colleagues on a regular basis to help achieve the overall goals of the NSCR.
    </p>
    <p>
      Our team is comprised of a diverse range of highly experienced and motivated IT professionals who bring vast
      experience
      garnered through working in both the public and private sectors. We specialise in interoperability, design, data
      integration, software testing, enterprise & technical architecture, process, systems & business analysis, and the
      development of standards to enable the exchange of healthcare data. Our team is extensively trained and is skilled
      in
      project management methodologies (PRINCE2), HL7 Fhir, CDA, Test Harness, Cloud, Security and Lean Six Sigma to
      name a
      few.
    </p>

    <div class="spacer">
      <img class="team-image" src="assets/images/team_picture.png" alt="Shared Care Record Team Picture">
    </div>

  </section>
  <section>
    <h2>MyHealth&#64;EU - What we do:</h2>
    <p>
      The projects we work on enable and deliver change.
    </p>
    <p>
      We focus on providing interoperability between different EU national health systems which will improve access to
      healthcare for Irish citizens travelling abroad in Europe as well as for EU citizens who visit Ireland.
    </p>

    <p>
      We manage the development and operation of the Irish National Contact Point to support interoperability and the
      exchange
      of electronic health-related data.
    </p>
    <p>
      We engage with the European Commission, DG Sante and our fellow European partners to collaborate in the design and
      development of the European Cross Border Service.
    </p>
    <p>
      We participate in two testing events each year which entails the transfer of bidirectional electronic test data
      with our
      designated testing member state partners.
    </p>
    <p>
      We are an active member of various EU eHMSEG workgroup communities which are convened to further the development
      and
      delivery of electronic healthcare quality services across the EU.
    </p>
    <p>
      At national level, we are subject matter experts in interoperability and assist in the development of Ireland's national
      shared care record system solution.
    </p>
    <p>
      We also collaborate with our Pharmacy colleagues to support the design of a national ePharmacy (eP) system
      solution.
      Additionally, we are involved in supporting the design and development of a new National Medicinal Catalogue.
    </p>
    <p>
      In the Irish health data space realm, we collaborate with the HSE design team to support the development of the
      new HSE
      Health App.
    </p>
  </section>
  <section>
    <h2>
      Projects we are involved in include;
    </h2>
    <ul class="indented-list">
      <li>MyHealth&#64;EU</li>
      <li>Electronic Health Record (EHR)</li>
      <li>ePrescription & eDispensation (ePS)</li>
      <li>Laboratory Results</li>
      <li>Hospital Discharge Reports</li>
      <li>Medical Images</li>
      <li>Original Clinical Documents</li>
      <li>Potential (EU digital health wallet)</li>
      <li>PATHeD (Path to my Health)</li>
      <li>Partnerships and Consortiums
        <ul class="nested-list">
          <li>xShare</li>
          <li>Xt-EHR</li>
          <li>PATHeD</li>
          <li>UNICOM</li>
          <li>IPS</li>
          <li>IHE</li>
        </ul>
      </li>
      <li>Expert Groups
        <ul class="nested-list">
          <li>Dataset Specification Management Process (DSMP)</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="space-above">
    <h2>Our Mission Statement:</h2>
    <p>To bring about change by advancing European healthcare through interoperability, which will provide better access
      to
      healthcare for citizens.
    </p>
  </section>
  <section>
    <h2>Contact Us:</h2>
    <p>To contact MyHealth&#64;EU email the service at: <a href="mailto:MyHealth.EU@hse.ie">Send Email</a></p>
  </section>
  <section>
    <p>
      Social media links
    </p>
    <ul class="social-media-lists">
      <li><a href="https://ie.linkedin.com/showcase/ehealth-ireland" target="_blank" rel="noopener noreferrer"><span><i
              class="fa-brands fa-linkedin"></i> eHealth Ireland | LinkedIn</span></a></li>
      <li><a href="https://twitter.com/eHealthIreland" target="_blank" rel="noopener noreferrer"><span><i
              class="fa-brands fa-square-x-twitter"></i> eHealth Ireland | X</span></a></li>

    </ul>
  </section>
  <section>
    <div class="features">
      <a routerLink="/myhealth">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/MyHealth@EU Welcome.PNG"
              alt="Hero slide image for MyHealth&#64;EU">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">MyHealth&#64;EU</h3>
            <p class="feature-intro">The eHealth Digital Service Infrastructure (eHDSI) is an infrastructure ensuring
              the
              continuity of care for European citizens while they are traveling abroad within the EU</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/etehr">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/Xt-EHR logo - Transparent.webp"
              alt="xT EHR logo representing the development of a interoperable dataset">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">xT EHR</h3>
            <p class="feature-intro">Enhancing the use of the Electronic Health record</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/pathed">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/logo-pathed.png" alt="PATHeD Logo image">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">PATHeD</h3>
            <p class="feature-intro">Project to provide Irish Citizens with access to healthcare data via a mobile
              application</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p> Read More
                  <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/xshare">
        <div class="feature-box">
          <div class="feature-hero">
            <img class="feature-image" src="assets/images/xShare-logo.PNG" alt="xShare image">
          </div>
          <div class="feature-info">
            <h3 class="feature-title">xShare</h3>
            <p class="feature-intro">Electronic Health Record Xcahange Format</p>
          </div>
          <div class="feature-btn-container">
            <div class="feature-redirect">
              <div class="feature-button">
                <p>Read More
                  <span>
                    <i class="far fa-arrow-alt-circle-right"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

  </section>

  <section class="space-above">
    <p class="declaration-txt">These projects are co-funded by the European Union.</p>

    <div class="declaration-images">
      <img class="declaration-image" src="assets/images/EC_Logo_MyHealt.jpg" alt="MyHealth&#64;EU logo">
      <img class="declaration-image" src="assets/images/European_Commission.png" alt="European Commission ogo">
      <img class="declaration-image" src="assets/images/cofunded.png"
        alt="Logo showing co-funded by the European Union">
    </div>

  </section>

</section>
