<section class="content">
  <section>
    <h1>MyHealth&#64;EU</h1>
    <h2>About us:</h2>
    <p>MyHealth&#64;EU is a team of IT professionals dedicated to exchanging health data between Ireland and EU member
      states. As
      part of Ireland’s commitment to the EU, Ireland is mandated to exchange health data with our European peers to
      enable
      digital access to health data for health professionals and citizens. We work with our colleagues in the National
      Shared
      Care Records to develop and exchange structured, coded data, across the European Health Data Space.
    </p>
  </section>
  <section>
    <h2>Our people:</h2>
    <p>The people in the MyHealth&#64;EU team come from many different career entry points and each is highly skilled
      and
      well-educated. We are also part of National Shared Care Records.
    </p>
    <p>Our team is comprised of a diverse range of highly experienced IT professionals across both public and private
      sectors.
      We specialise in interoperability and design, data integration, software testing, enterprise & technical
      architecture,
      and development of standards to exchange healthcare data.
    </p>

    <div class="spacer">
      <img class="team-image" src="/assets/images/team_picture.png" alt="Team Picture">
    </div>

  </section>
  <section>
    <h2>MyHealth&#64;EU - What we do:</h2>
    <p>The projects that we work on, enable and deliver change. We focus on providing interoperability between different
      systems that will improve access to healthcare for Irish citizens travelling abroad in Europe as well as for EU
      citizens
      visiting Ireland.</p>
    <p>Projects we are involved in include;</p>
    <ul class="indented-list">
      <li>MyHealth&#64;EU</li>
      <li>Electronic Health Record (EHR)</li>
      <li>Partnerships and Consortiums
        <ul class="nested-list">
          <li>PATHeD</li>
          <li>xShare</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2>Our Mission Statement:</h2>
    <p>To bring about change by advancing European healthcare through interoperability, which will provide better access
      to
      healthcare for citizens.
    </p>
  </section>
  <section>
    <h2>Contact Us:</h2>
    <p>To contact MyHealth&#64;EU email the service at: <a href="mailto:MyHealth.EU@hse.ie">Send Email</a></p>
  </section>
  <section>
    <p>
      Social media links
    </p>
    <ul class="social-media-lists">
      <li><a href="https://ie.linkedin.com/showcase/ehealth-ireland" target="_blank" rel="noopener noreferrer"><span><i
              class="fa-brands fa-linkedin"></i> eHealth Ireland | LinkedIn</span></a></li>
      <li><a href="https://twitter.com/eHealthIreland" target="_blank" rel="noopener noreferrer"><span><i
              class="fa-brands fa-square-x-twitter"></i> eHealth Ireland | X</span></a></li>

    </ul>
  </section>
  <section>
    <div class="features">
      <div class="feature-box">
        <div class="feature-hero">
          <a routerLink="/myhealth">
            <img class="feature-image" src="assets/images/MyHealth@EU Welcome.PNG"
              alt="Hero slide image for MyHealth&#64;EU">
          </a>

        </div>
        <div class="feature-info">
          <h3 class="feature-title">MyHealth&#64;EU</h3>
          <p class="feature-intro">The eHealth Digital Service Infrastructure (eHDSI) is an infrastructure ensuring the
            continuity of care for European citizens while they are traveling abroad the EU</p>
        </div>
        <div class="feature-btn-container">
          <div class="feature-redirect">
            <div class="feature-button">
              <a routerLink="/myhealth">Read More <span>
                  <i class="far fa-arrow-alt-circle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-box">
        <div class="feature-hero">
          <a routerLink="/etehr">
            <img class="feature-image" src="assets/images/eT_EHR.jpg"
              alt="eT EHR People using technology in healthcare">
          </a>
          <div class="feature-info">
            <h3 class="feature-title">eT EHR</h3>
            <p></p>
          </div>
        </div>
        <div class="feature-btn-container">
          <div class="feature-redirect">
            <div class="feature-button">
              <a routerLink="/etehr">Read More <span>
                  <i class="far fa-arrow-alt-circle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-box">
        <div class="feature-hero">
          <a routerLink="/pathed">
            <img class="feature-image" src="assets/images/logo-pathed.png" alt="PATHeD Logo image">
          </a>
        </div>
        <div class="feature-info">
          <h3 class="feature-title">PATHeD</h3>
        </div>
        <div class="feature-btn-container">
          <div class="feature-redirect">
            <div class="feature-button">
              <a routerLink="/pathed"> Read More
                <span>
                  <i class="far fa-arrow-alt-circle-right"></i>
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="feature-box">
        <div class="feature-hero">
          <a routerLink="/xshare">
            <img class="feature-image" src="assets/images/xshare_picture.png" alt="xShare image">
          </a>
        </div>
        <div class="feature-info">
          <h3 class="feature-title">xShare</h3>
        </div>
        <div class="feature-btn-container">
          <div class="feature-redirect">
            <div class="feature-button">
              <a routerLink="/xshare">Read More
                <span>
                  <i class="far fa-arrow-alt-circle-right"></i>
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <section>
    <div>
      <img src="" alt="">
    </div>
    <div>
      <img src="" alt="">
    </div>
    <div>
      <img src="" alt="">
    </div>

  </section>

</section>
