<section class="content">
  <section>
    <div class="title-container">
      <img class="title-image" src="assets/images/Xt-EHR logo - Transparent.webp"
        alt="xT EHR logo representing the development of a interoperable dataset">
      <h1 class="title_item">Xt EHR - Joint Action</h1>
    </div>
  </section>

  <section>
    <p>
      The Xt-EHR Action represents a coordinated effort between 50 partners from 29 counties, aimed at enhancing the
      primary
      use of the Electronic Health Record as a part of the proposed European Health Data Space (EHDS) regulation.
    </p>
    <p>
      The focus is on the implementation of guides for future acts which will affect such as ePrescriptions,
      eDispensation,
      health summaries, discharge notes, laboratory reports and medical imaging results.
    </p>
  </section>
  <section class="space-above">
    <p class="declaration-txt">
      The Xt-EHR action is co-funded by the EU, under the EU4Health Program 2021-2027
    </p>
    <p>
    <p>
      Please reference <a href="https://www.spms.min-saude.pt/xt-ehr/" target="_blank" rel="noopener"><span>spms.min-saude.pt <i class="fa-solid fa-arrow-up-right-from-square"></i></span></a> for more information.
    </p>
  </section>
  <section class="space-above">
    <div>
      <img src="assets/images/cofunded.png" alt="Logo showing co-funded by the European Union">
    </div>
  </section>

</section>
