*,
*::after,
*::before {
  /* capture any before and after pseudo-elements in universal selector */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
p,
li {
  font-family: roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 600;
}

.spacer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 20px;
}

.mdc-list-item__primary-text {
  white-space: pre-line !important;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
